<section class="menu-section">
    <h2 class="text-center">MOMOS</h2>
    <!-- <div class="menu-card">
            <p>Chicken Momos - ₹99</p>
            <p>Chicken Tikka Momos - ₹119</p>
        </div> -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://i.redd.it/95p870hvdi551.jpg" class="card-body">
                <h5 class="card-title text-center">Chicken Momos</h5>
                <p class="card-text text-center">₹99</p>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="https://cache.marieclaire.fr/data/photo/w1000_c17/cuisine/4i/mom-indien.jpg"
                    class="card-body">
                <h5 class="card-title text-center">Chicken Tikka Momos</h5>
                <p class="card-text text-center">₹119</p>
            </div>
        </div>

    </div>
</section>